<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent - Patient Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'podomed/styles.css' %}">
</head>
<body>

<div class="container">
    <h2>Sprawdz swoj email</h2>
    <p>Wyslalismy Ci instrukcje jak zresetowac haslo na email</p>
    <div class="links">
        <a href="{% url 'login' %}">Wroc do logowania</a>
    </div>
</div>

</body>
</html>
