<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete - Patient Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'podomed/styles.css' %}">
</head>
<body>

<div class="container">
    <h2>Zmiana hasla przebiegla pomyslnie</h2>
    <p>Twoje haslo zostalo zmienione, mozesz teraz zalogowac sie uzywajac nowego hasla</p>
    <div class="links">
        <a href="{% url 'login' %}">Wroc do logowania</a>
    </div>
</div>
</body>
</html>
