<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona nie znaleziona</title>
    <link rel="stylesheet" href="{% static 'podomed/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>404 - Strona nie znaleziona</h1>
        <p>Sorki, cos jest nie tak, taka strona nie istnieje, napisz do Natalii po wiecej info! Buziaki !!!!</p>
        <a href="{% url 'appointments' %}" class="btn btn-primary">Wroc do strony glownej</a>
    </div>
</body>
</html>
