
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Web App{% endblock %}</title>
    {% load static %}
    <link href="{% static 'podomed/style_3.css' %}" rel="stylesheet">
</head>
<body>
    <div class="calendar-container">
        <div class="calendar-header">
            <h2>{{ today }}</h2>
        </div>
        <div class="calendar">
            {{ calendar|safe }}
        </div>
    </div>
</body>
</html>

